<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:mem:testdb</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache -->
<!--        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>-->
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>

<!--        Table Per Hierarchy-->
        <mapping resource="inheritance/hierarchy.hbm.xml" />
<!--        <mapping class="com.home.inheritance.Employee" />-->
<!--        <mapping class="com.home.inheritance.EmployeeRegular" />-->
<!--        <mapping class="com.home.inheritance.EmployeeContract" />-->

<!--        Table Per Concrete-->
        <mapping resource="inheritance/concrete.hbm.xml" />
<!--        <mapping class="com.home.inheritance.Job" />-->
<!--        <mapping class="com.home.inheritance.JobRegular" />-->
<!--        <mapping class="com.home.inheritance.JobContract" />-->

<!--        Table Per Subclass-->
        <mapping resource="inheritance/subclass.hbm.xml" />
<!--        <mapping class="com.home.inheritance.Book" />-->
<!--        <mapping class="com.home.inheritance.BookRegular" />-->
<!--        <mapping class="com.home.inheritance.BookContract" />-->

        <!--        Mapping List-->
        <mapping resource="collection/questionHasList.hbm.xml" />

        <!--        Mapping Bag-->
        <mapping resource="collection/questionHasBag.hbm.xml" />

        <!--        Mapping Set-->
        <mapping resource="collection/questionHasSet.hbm.xml" />

        <!--        Mapping Map-->
        <mapping resource="collection/questionHasMap.hbm.xml" />

        <!--        One To Many-->
        <mapping resource="reference/oneToMany.hbm.xml" />
        <!--        <mapping class="com.home.reference.OneToManyQuestion" />-->
        <!--        <mapping class="com.home.reference.OneToManyAnswer" />-->

        <!--        Many To Many-->
        <mapping resource="reference/manyToMany.hbm.xml" />
        <!--        <mapping class="com.home.reference.ManyToManyQuestion" />-->
        <!--        <mapping class="com.home.reference.ManyToManyAnswer" />-->

        <!--        One To One-->
        <mapping resource="reference/oneToOne.hbm.xml" />
        <!--        <mapping class="com.home.reference.OneToOneQuestion" />-->
        <!--        <mapping class="com.home.reference.OneToOneAnswer" />-->

        <!--        Many To One-->
        <mapping resource="reference/manyToOne.hbm.xml" />
        <!--        <mapping class="com.home.reference.ManyToOneQuestion" />-->
        <!--        <mapping class="com.home.reference.ManyToOneAnswer" />-->
    </session-factory>
</hibernate-configuration>